body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background-color: #f0e3ff;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

header{
  nav{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    .headerButton {
      padding: 1rem;
      cursor: pointer;
      background-color: #d89cf6;
      
      &:hover{
        background-color: #3e206d;
        color: #f0e3ff;
      }
    }
  }
}

img {
 width: 100%;
 border-radius: 30px;
 filter: grayscale(10%) sepia(100%) hue-rotate(200deg) opacity(.9);
}